.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* padding: 1rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

.players {
  margin-top: 1rem;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.players span {
  width: 100%;
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  color: #56baed;
  font-size: 1.2rem;
  font-weight: bold;
}

.players span.active {
  color: #fff;
  background-color: #56baed;
}

.players .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #56baed;
  border-radius: .5rem;
  z-index: 5px;
}

.board {
  margin: 1rem 0;
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem 0.5rem;
}

.box {
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: #fff;
  color: #56baed;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
}

.box-0,.box-1,.box-2, .box-3,.box-4,.box-5 {
  /* border-right: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}

.box-0,.box-3,.box-6,.box-1,.box-4,.box-7 {
  border-right: 1px solid #ccc;
}

.reset-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #39acda;
  cursor: pointer;
}

.reset-btn:hover {
  opacity: 0.8;
}

.winner-msg {
  font-size: 1.5rem;
  color: #fff;
}
